<body>
        <div>
            <form method="POST">
              Nome <br/><input type="text" name="nome"><br>
              Sobrenome <br/><input type="text" name="sobrenome"><br>
              CPF <br/><input type="text" name="cpf"><br>
              Telefone <br/><input type="text" name="telefone"><br>
              Data de nascimento<br/><input type="text" name="dataNasciemento"><br>
              Endereço<br/><input type="text" name="endereco"><br>
              Bairro<br/><input type="text" name="bairro"><br>
              CEP<br/><input type="text" name="cep"><br>
              Municipio<br/><input type="text" name="municipio"><br>  
              <br/> <input type="submit" value="Enviar" />
            </form>    
        </div>
        <button class="btn btn-success" (onChange)="salvar()"></button>
    
     </body>
     
 